:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* RESET */
* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Remove Vite demo centering */
body {
  display: block;
  min-width: 320px;
  background-color: #ffffff;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
}
